<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ORM2DCode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE0CA1EC1CA805680035DF59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE0CA2051CA805690035DF59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE0CA2101CA805690035DF59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
